<div class="modal fade" id="myModal" (click)="hide($event)" role="dialog" [ngClass]="{'in': visibleAnimate}" 
 [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}" >
  <div class="modal-dialog modal-lg modalscreen">
    <div class="modal-content">
      
      <div class="modal-body">


        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" id="#myCarousel" *ngFor="let img of data;let i=index" data-slide-to="i" [ngClass]="{'active': i==selectedIndex}"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item" *ngFor="let img of data;let i=index" [ngClass]="{'active': i==selectedIndex}">
              <img [src]="img.path" height="90%">
            </div>
          </div>

          <!-- Left and right controls -->
          <a  (click)="prevStopPropagation($event);false" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a  (click)="nextStopPropagation($event);false" id="next" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>