:host{
    /*background:url('../public/images/hearts.png');
    background-size:     cover;               
    background-repeat:repeat;
    background-position: center center;  */
    display:block;
    width: 100%;
    height: 100%;
    left:0;
}

.title{
    font-size: 16px;
    font-weight: bold;
}
.nikhilfamily-container{
    height: 40%;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-between;
}
    .vidyafamily-container{
        height: 40%;
        display: flex;
        flex-wrap: wrap;    
        align-items: center;
        justify-content: space-between;
    }


@media ( max-width: 767px ) {
 
}


.family{
    height:50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.familyName{
    font-size:16px;
    text-align: center;
    width:150%;
    margin-top:20px;
    color:#00a65a;
    

}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

     

    }

    @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      .familyName{
   width: 100%;
}

    }

.familypic{
height: 120px;
}


/*.couple-info{
    height: 120px;
    width:150%;
    border-radius: 50%;
    color:#00a65a;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

 
.madhupic{
    background-image: url("./public/images/21.jpg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
}
.rameshpic{

}
.rajupic{

}
.heenapic{
    background-image: url("./public/images/58.jpg");
    background-repeat: no-repeat;
    background-position: 88% 29%;
}

.reenapic{
    background-image: url("./public/images/7.jpg");
    background-repeat: no-repeat;
    background-position: 70% 36%;
}
.amitpic{
    background-image: url("./public/images/16.jpg");
    background-repeat: no-repeat;
    background-position: 16% 20%;
}
.monikapic{
    background-image: url("./public/images/14.jpg");
    background-repeat: no-repeat;
    background-position:80% 30%;
}

.prabhakaranpic{
background-image: url("./public/images/8.jpg");
    background-repeat: no-repeat;
    background-position:69% 57%;
}
.santhapic{
background-image: url("./public/images/23.jpg");
    background-repeat: no-repeat;
    background-position:92% 35%;
}
.vinitpic{
background-image: url("./public/images/25.jpg");
    background-repeat: no-repeat;
    background-position:54% 29%;
}

.theCoupleTitle{
    color:#fff;
    font-weight: bolder;
}

.theName{
    color:#fff;
    font-weight: bolder;
}

.theDesignation{
    color:#fff;
}

.relation{
    font-size: 16px;
    font-weight: bold;
    color:#4A96AD;
}

.name{
    font-size: 16px;
    font-weight: bold;
}

.heart{
    height: 100px;
    border-radius: 50%;
    background-image: url("./public/images/heart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -13px 6px;
}

.nikhilpic{
    background-image: url("./public/images/16.jpg");
    background-repeat: no-repeat;
    background-position: -268px -58px;
}

.vidyapic{
     background-image: url("./public/images/vd.jpg");
    background-repeat: no-repeat;
    background-position: -505px -181px;
}

.membercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9%;
}


/*mobile media query */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
   {
        .nikhilfamily-container{
    height: fit-content;
    flex-direction: column; 
}
.vidyafamily-container{
     height: fit-content;
    flex-direction: column; 
}


      
    }
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
        .membercontainer{
    
    width: 25%;
}
  }
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.membercontainer{
    
    width: 50%;
}
    }


/*tablet media query */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
 .membercontainer{
    
    width: 14%;
}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

     
/*
   .prabhakaranpic, .santhapic, .vinitpic, .madhupic, .rameshpic, .rajupic, .heenapic, .reenapic, .amitpic, .monikapic{
       zoom:70%;
   }
   .couple-info{
       
        width:310%;
       
    }

    .familyName{
        width:340%;
    }

    .name, .title{
        font-size: 14px;
    }
   
   .theCoupleTitle{
       font-size: 30px;
   }*/
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
     /*.couple-info{
        width:230%;
    }
    .familyName{
        width:255%;
    }*/
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1)
{
     /*.couple-info{
       
        width:235%;
       
    }
     .prabhakaranpic, .santhapic, .vinitpic, .madhupic, .rameshpic, .rajupic, .heenapic, .reenapic, .amitpic, .monikapic{
       zoom:100%;
   }*/
}
