<div class="col-xs-12 nxHeight">
    <div class="col-xs-12 nxHeight parents-page">
        <div class="text-center nxTitle">
            Groom's Family
        </div>
        <div class="nikhilfamily-container">
            <div class="text-center membercontainer family-card">
                <div class="relation">Mother</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/21.jpg" alt="Madhu">
                <div class="name"><span class="title">Smt.</span></div>
                <div class="familyName">Madhu</div>
                <div (click)="show(paretsTestimony)" class="myFamily">Invitation</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Father</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/papa.jpg" alt="Rameshchandra">
                <div class="name"><span class="title">Late Shri.</span></div>
                <div class="familyName">Rameshchandra</div>
                <div (click)="show(paretsTestimony)" class="myFamily">Invitation</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Uncle</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/rk.jpg" alt="Rajesh">
                <div class="name"><span class="title">Late Shri.</span></div>
                <div class="familyName">Rajesh</div>
                <div (click)="show(rajeshTestimony)" class="myFamily">Invitation</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Sister</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/58.JPG" alt="Heena">
                <div class="name"><span class="title">Mrs.</span></div>
                <div class="familyName">Heena</div>
                <div (click)="show(heenaFamily)" class="myFamily">My Family</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Sister</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/7.jpg" alt="Reena">
                <div class="name"><span class="title">Mrs.</span></div>
                <div class="familyName">Reena</div>
                <div (click)="show(reenaFamily)" class="myFamily">My Family</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Brother</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/16.jpg" alt="Amit">
                <div class="name"><span class="title">Mr.</span></div>
                <div class="familyName">Amit</div>
                <div (click)="show(amitFamily)" class="myFamily">My Family</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Sister</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/14.jpg" alt="Monika">
                <div class="name"><span class="title">Mrs.</span></div>
                <div class="familyName">Monika</div>
                <div (click)="show(monikaFamily)" class="myFamily">My Family</div>
            </div>
        </div>
        <div class="text-center nxTitle">
            Bride's Family
        </div>
        <div class="col-xs-12 vidyafamily-container">
            <div class="text-center membercontainer family-card">
                <div class="relation">Mother</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/23.JPG" alt="Santha">
                <div class="name"><span class="title">Smt.</span></div>
                <div class="familyName">Santha</div>
                <div (click)="show(vidyaParetsTestimony)" class="myFamily">Invitation</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Father</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/8.jpg" alt="Prabhakaran">
                <div class="name"><span class="title">Shri.</span></div>
                <div class="familyName">Prabhakaran</div>
                <div (click)="show(vidyaParetsTestimony)" class="myFamily">Invitation</div>
            </div>
            <div class="text-center membercontainer family-card">
                <div class="relation">Brother</div>
                <img class="familypic family-photo nxBoxShadow" src="/public/images/25.JPG" alt="Vineet">
                <div class="name"><span class="title">Mr.</span></div>
                <div class="familyName">Vineet</div>
                <div (click)="show(vineetTestimony)" class="myFamily">Invitation</div>
            </div>
        </div>
    </div>
    <nxModal [data]="data" [showWhat]="what" *ngIf="showModal"></nxModal>
</div>
