<div class="col-xs-12" style="height:100%;">
<div class="col-xs-12 " style="height:100%">

    <div class="col-xs-12 nikhilfamily">
<div class="col-sm-2 couple nxBoxShadow bg-lightBlue">
        <div>
            <h1 class="text-center theCoupleTitle"> The Bride's</h1>
            
            <h5 class="text-center theDesignation">  Family</h5>
        </div>
    </div>
        

    <div class="col-sm-1 text-center">
        <div class="couple-info madhupic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Mother</span><bR><span class="name">Madhu</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info rameshpic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Father</span><bR><span class="name">Ramesh</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info rajupic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Uncle</span><bR><span class="name">Rajesh</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info heenapic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Sister</span><bR><span class="name">Heena</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info reenapic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Sister</span><bR><span class="name">Reena</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info amitpic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Brother</span><bR><span class="name">Amit</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info monikapic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Sister</span><bR><span class="name">Monika</span></div>
    </div>
  </div>

  <div class="col-xs-12 vidyafamily">
      <div class="col-sm-2 couple nxBoxShadow bg-lightBlue">
        <div>
            <h1 class="text-center theCoupleTitle"> The Bride's</h1>
            
            <h5 class="text-center theDesignation">  Family</h5>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info prabhakaranpic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Father</span><bR><span class="name">Prabhakaran</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info santhapic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Mother</span><bR><span class="name">Santha</span></div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info vinitpic nxBoxShadow"></div>
        <div class="familyName"><span class="relation">Brother</span><bR><span class="name">Vinit</span></div>
    </div>
    
    
      </div>
    <!--<div class="col-sm-1">
        <div class="couple-info heenapic nxBoxShadow"></div>
        <div class="familyName">Sister<bR>Heena</div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info reenapic nxBoxShadow"></div>
        <div class="familyName">Sister<bR>Reena</div>
    </div><div class="col-sm-1">
        <div class="couple-info amitpic nxBoxShadow"></div>
        <div class="familyName">Brother<bR>Amit</div>
    </div>
    <div class="col-sm-1">
        <div class="couple-info monikapic nxBoxShadow"></div>
        <div class="familyName">Sister<bR>Monika</div>
    </div>
   -->
</div>

</div>