:host{
    /*background:url('../public/images/hearts.png');
    background-size:     cover;               
    background-repeat:repeat;
    background-position: center center;  */
    display:block;
    width: 100%;
    height: 100%;
    left:0;
}


.nikhilfamily{
    height: 50%;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-between;
}
.vidyafamily{
    height: 50%;
     display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-between;
}


@media ( max-width: 767px ) {
  .nikhilfamily{
    height: fit-content;
    flex-direction: column; align-items: stretch; 
}
.vidyafamily{
     height: fit-content;
    flex-direction: column; align-items: stretch; 
}
}



.familyName{
    font-size:16px;
    text-align: center;
    width:150%;
    margin-top:20px;
    color:#7D1935;

}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

      .familyName{
   width: 100%;
}

    }

    @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      .familyName{
   width: 100%;
}

    }






@media ( max-width: 800px ) {
  .couple-container { flex-direction: column; align-items: stretch; }
}

.couple-info{
    height: 120px;
    width:150%;
    border-radius: 50%;
    color:#7D1935;
    display: flex;
    align-items: center;
    justify-content: center;
}

 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      .couple-info{
   width: 22%;
   margin-left: 38%;
   margin-top: 20px;
}

    }

    @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

      .couple-info{
  width:120px;margin-left:25%; 
      margin-top: 20px;
}

    }


.madhupic{
    background-image: url("./public/images/21.jpg");
    background-repeat: no-repeat;
    background-position: -446px -222px;
}
.rameshpic{

}
.rajupic{

}
.heenapic{
    background-image: url("./public/images/58.jpg");
    background-repeat: no-repeat;
    background-position: -784px -155px;
}

.reenapic{
    background-image: url("./public/images/7.jpg");
    background-repeat: no-repeat;
    background-position: -622px -195px;
}
.amitpic{
    background-image: url("./public/images/16.jpg");
    background-repeat: no-repeat;
    background-position: -146px -109px;
}
.monikapic{
    background-image: url("./public/images/14.jpg");
    background-repeat: no-repeat;
    background-position:-702px -162px;
}

.prabhakaranpic{
background-image: url("./public/images/8.jpg");
    background-repeat: no-repeat;
    background-position:-606px -311px;
}
.santhapic{
background-image: url("./public/images/23.jpg");
    background-repeat: no-repeat;
    background-position:-814px -191px;
}
.vinitpic{
background-image: url("./public/images/25.jpg");
    background-repeat: no-repeat;
    background-position:-477px -151px;
}

.theCoupleTitle{
    color:#fff;
    font-weight: bolder;
}

.theName{
    color:#fff;
    font-weight: bolder;
}

.theDesignation{
    color:#fff;
}

.relation{
    font-size: 20px;
    color:#4A96AD;
}

.name{
    font-size: 25px;
    font-weight: bold;
}

.heart{
    height: 100px;
    border-radius: 50%;
    background-image: url("./public/images/heart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -13px 6px;
}




.nikhilpic{
    background-image: url("./public/images/16.jpg");
    background-repeat: no-repeat;
    background-position: -268px -58px;
}

.vidyapic{
     background-image: url("./public/images/vd.jpg");
    background-repeat: no-repeat;
    background-position: -505px -181px;
}

.flex-container{
   width:100%;
    display: flex;
    position:relative;
    flex-direction:row;
    justify-content: space-between;
    bottom:5%;
    z-index: 999;
  }

.nxTime{
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  font-size: 60px;
  font-weight: bolder;
  color:#7D1935;
}

