<div class="col-xs-12 flex-container">
    <div class="col-sm-4 col-xs-12 nxEventCard">
        <md-card>
            <md-card-title-group>
                <img md-card-md-image src="./public/images/Ganesha.jpg">
                <md-card-title>Ganesha Poojan</md-card-title>
                <md-card-subtitle>Subtitle</md-card-subtitle>
            </md-card-title-group>
        </md-card>
    </div>


    <div class="col-sm-4 col-xs-12 nxEventCard">
       <md-card>
            <md-card-title-group>
                <img md-card-md-image src="./public/images/Ganesha.jpg">
                <md-card-title>Ganesha Poojan</md-card-title>
                <md-card-subtitle>Subtitle</md-card-subtitle>
            </md-card-title-group>
        </md-card>
    </div>
</div>


<div class="col-xs-12 flex-container">
    <div class="col-sm-4 col-xs-12 nxEventCard">
       <md-card>
            <md-card-title-group>
                <img md-card-md-image src="./public/images/Ganesha.jpg">
                <md-card-title>Ganesha Poojan</md-card-title>
                <md-card-subtitle>Subtitle</md-card-subtitle>
            </md-card-title-group>
        </md-card>
    </div>
    <div class="col-sm-4 col-xs-12 nxEventCard">
        <md-card>
            <md-card-title-group>
                <img md-card-md-image src="./public/images/Ganesha.jpg">
                <md-card-title>Ganesha Poojan</md-card-title>
                <md-card-subtitle>Subtitle</md-card-subtitle>
            </md-card-title-group>
        </md-card>
    </div>
</div>