<div class="col-xs-12 nxHeight">
    <div class="col-xs-12 nxHeight">
        <div class="col-xs-12 event-container">
            <div class="col-xs-12 nxEventCard nxBoxShadow">
                <div class="col-sm-4 text-center nxHeight eventimgcontainer" k>
                    <img md-card-image src="./public/images/Ganesha.jpg">
                </div>
                <div class="col-sm-8">
                    <div class="nxEventTitle text-center">
                        Ganesha Pooja
                        <!--<span style="color:#e40046">G</span>
                        <span style="color:#4A96AD">a</span>
                        <span style="color:#e40046">n</span>
                        <span style="color:#4A96AD">e</span>
                        <span style="color:#e40046">s</span>
                        <span style="color:#4A96AD">h</span>
                        <span style="color:#e40046">&nbsp;&nbsp;</span>
                        <span style="color:#e40046">P</span>
                        <span style="color:#4A96AD">o</span>
                        <span style="color:#e40046">o</span>
                        <span style="color:#4A96AD">j</span>
                        <span style="color:#e40046">a</span>-->

                    </div>
                    <div class="nxCardContent">
                        <p>Tuesday</p>
                        <p>27<sup>th</sup> June 2017</p>
                        <p>07:00 AM to 8:00 AM</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 nxEventCard nxBoxShadow">
                <div class="col-sm-4 text-center nxHeight eventimgcontainer" k>
                    <img md-card-image src="./public/images/Ganesha.jpg">
                </div>
                <div class="col-sm-8">
                    <div class="nxEventTitle text-center">
                        Wedding
                        <!--<span style="color:#e40046">W</span>
                        <span style="color:#4A96AD">e</span>
                        <span style="color:#e40046">d</span>
                        <span style="color:#4A96AD">d</span>
                        <span style="color:#e40046">i</span>
                        <span style="color:#4A96AD">n</span>
                        <span style="color:#e40046">g</span>-->
                    </div>
                    <div class="nxCardContent">
                        <p>Wednesday</p>
                        <p>27<sup>th</sup> June 2017</p>
                        <p>09:00 AM To 9:45:00 AM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 event-container">
            <div class="col-xs-12 nxEventCard nxBoxShadow">
                <div class="col-sm-4 text-center nxHeight eventimgcontainer" k>
                    <img md-card-image src="./public/images/Ganesha.jpg">
                </div>
                <div class="col-sm-8">
                    <div class="nxEventTitle text-center">
                        Reception
                        <!--<span style="color:#e40046">R</span>
                        <span style="color:#4A96AD">e</span>
                        <span style="color:#e40046">c</span>
                        <span style="color:#4A96AD">e</span>
                        <span style="color:#e40046">p</span>
                        <span style="color:#4A96AD">t</span>
                        <span style="color:#e40046">i</span>
                        <span style="color:#4A96AD">o</span>
                        <span style="color:#e40046">n</span>-->
                    </div>
                    <div class="nxCardContent">
                        <p>Wednesday</p>
                        <p>27<sup>th</sup> June 2017</p>
                        <p>11:00 AM onwards</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 nxEventCard nxBoxShadow">
                <div class="col-sm-4 text-center nxHeight eventimgcontainer" k>
                    <img md-card-image src="./public/images/Ganesha.jpg">
                </div>
                <div class="col-sm-8">
                    <div class="nxEventTitle text-center">

                        Dulhan Bidai
                        <!--<span style="color:#e40046">D</span>
                        <span style="color:#4A96AD">u</span>
                        <span style="color:#e40046">l</span>
                        <span style="color:#4A96AD">h</span>
                        <span style="color:#e40046">a</span>
                        <span style="color:#4A96AD">n</span>
                        <span style="color:#e40046">&nbsp;&nbsp;</span>
                        <span style="color:#e40046">B</span>
                        <span style="color:#4A96AD">i</span>
                        <span style="color:#e40046">d</span>
                        <span style="color:#4A96AD">a</span>
                        <span style="color:#e40046">i</span>-->

                    </div>
                    <div class="nxCardContent">
                        <p>Wednesday</p>
                        <p>27<sup>th</sup> June 2017</p>
                        <p>04:00 PM To 05:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>