<div class="nxHeight20"></div>
<div class="container col-xs-12">
<div class=" col-xs-12">
<div class="flex-container">

    <md-card class="col-sm-4 col-xs-12">
        <md-card-title-group>
            <md-card-title>Prabhakaran Pillai</md-card-title>
            <md-card-subtitle>9427001423</md-card-subtitle>
        </md-card-title-group>
    </md-card>

    


    <md-card class="col-sm-4 col-xs-12">
        <md-card-title-group>
            <md-card-title>Amit Shah</md-card-title>
            <md-card-subtitle>989842421</md-card-subtitle>
        </md-card-title-group>
    </md-card>


</div>
<div class="flex-container">
    <div class="col-xs-12 container">
        <h1 class="text-center">Venue</h1>
        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
          
        <sebm-google-map-info-window>
          <strong>W Five Petals Hotel & Banquets, Near Chanakya Puri Bridge, Ghatlodiya
Ghatlodiya
Ahmedabad, Gujarat 380061
India</strong>
        </sebm-google-map-info-window>

            </sebm-google-map-marker>
        </sebm-google-map>
    </div>

</div>
</div>
</div>