<div class="col-xs-12">

    <div class="col-sm-6 ">
        <md-card>
            <img md-card-image [src]="member.path" class="parentImg">
            <md-card-content>
                <h2 class="text-center">
                    <b>Prabhakar Pillai</b>
                </h2>
                <h5 class="text-center">Sattadhar
                </h5>
                <h4 class="text-center">
                    <b>9033004579</b>
                </h4>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-sm-6">
        <md-card>
            <img md-card-image [src]="member.path" class="parentImg">
            <md-card-content>
                <h2 class="text-center">
                    <b>Amit Shah</b>
                </h2>
                <h5 class="text-center">Shahpur
                </h5>
                <h4 class="text-center">
                    <b>9033004579</b>
                </h4>
            </md-card-content>
        </md-card>
    </div>

</div>