
/*animation */

 :host{
    /*background:url('../public/images/hearts.png');
    background-size:     cover;               */
    /*background-repeat:repeat;
    background-position: center center;  */
    display:block;
    width: 100%;
    left:0;
    height: 100%;
  }

 

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to { 
    -webkit-transform: rotateY(360deg);
  }
}
.rotateImg
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-ANIMATION-timing-function: linear;
}

.nikhilcropimg{
   background-image: url('public/images/nyks.jpg');
   height: 200px;
}

.roundedBorder{
  border-radius: 50%;
}

.nxImg{
   height: 200px;
   width:60%;
   margin: 0;

}

.checkout{
  background-image: url('../public/images/hearts.png');
}

 .flex-container{
    display: flex;
    position:relative;
    height:100%;
    flex-direction:column;
    justify-content: space-between;
  }

.time{
      height:120px;
      width:100%;
      color:#DC143C;
      text-align:center;
      font-size: 50px;
      border-radius: 5px;
      box-shadow: 10px 10px 20px #DC143C;
    }
.timetext{
    position: relative;
    font-size: 20px;
    
}

.invitation-card{
  height: 100%;
  border:1px solid;
}