<div class="col-xs-12" style="height:70%">
<div class="col-xs-12 nxHeight">
    <div class="col-xs-12 nxHeight bg-lightBlue homepic">
        <div class="home-flex-container1">
            <div class="mrgText text-center">We are getting married. We heartiley invitate you to attend our marriage</div>
        </div>
        <div class="home-flex-container2">
            <div class="remainingTime bg-maroon">
<div class="mrgText text-center">We are getting married on 28-June-2017</div>

            </div>
        </div>
    </div>
</div>
</div>
<div class="col-xs-12 time-flex-container" *ngIf="seconds">

    <div class="col-xs-12 flex-container">
        <div class="nxBoxShadow text-center col-sm-3">
            <div class="nxTitle">Days</div>
            <div class="nxTime">{{days}}</div>
        </div>
        <div class="nxBoxShadow text-center col-sm-3">
            <div class="nxTitle">Hours</div>
            <div class="nxTime">{{hours}}</div>

        </div>
        <div class="nxBoxShadow text-center col-sm-3">
            <div class="nxTitle">Minutes</div>
            <div class="nxTime">{{minutes}}</div>
        </div>
        <div class="nxBoxShadow text-center col-sm-3">
            <div class="nxTitle">Seconds</div>
            <div class="nxTime" [@time]="triggerSecond">{{seconds}}</div>
        </div>
    </div>
</div>