
/*animation */

 :host{
    /*background:url('../public/images/hearts.png');
    background-size:     cover;               */
    /*background-repeat:repeat;
    background-position: center center;  */
    display:block;
    width: 100%;
    left:0;
    height: 100%;
  }

 

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to { 
    -webkit-transform: rotateY(360deg);
  }
}
.rotateImg
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-ANIMATION-timing-function: linear;
}

.nikhilcropimg{
   background-image: url('public/images/nyks.jpg');
   height: 200px;
}

.roundedBorder{
  border-radius: 50%;
}

.nxImg{
   height: 200px;
   width:60%;
   margin: 0;

}

.checkout{
  background-image: url('../public/images/hearts.png');
}

 .flex-container{
   width:100%;
    display: flex;
    position:fixed;
    flex-direction:row;
    justify-content: space-between;
    bottom:5%;
    z-index: 999;
  }

.time{
    position: relative;
    height: 130px;
    width: 22%;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    z-index: 999999;
}
.timetext{
    position: relative;
    font-size: 16px;
}

.invitation-card{
  height: 100%;
  border:1px solid;
}

.album{
  position: relative;
  z-index: 99;
  height: 500px;
  object-fit: cover;
}

.item{
  height:100%;
}

.albumhome{
  height: 100% !important;
}