
/*fixing */

.modal {
  background: rgba(0,0,0,0.8);
}


.modal-backdrop.in {
        opacity: 0.4 !important;
}

.modal-backdrop {
    position: relative !important;
    
}


.modal-dialog {
    width: 100%;
    height: 100% !important;
    overflow-y: auto;
}

@media (min-width: 768px){
.modal-dialog {
    width: 80% !important;
    margin: 1% auto !important;
}
}

.modal-content{
  height: 100%;
}

.modal-body{
  overflow: auto;
  padding:0 !important;
  height: inherit;
}

.carousel{
  height:inherit;
}

.carousel-inner{
  height: inherit;
}






/*other source*/


body, html {
  margin: 0;
  height: 100%;
  width:100%;
  font-family: 'PT Sans', sans-serif !important;
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 10px !important;
  /*background:rgba(0,0,0,0.2) !important;*/
  background: #fafafa !important;
  
}

.nxHeight{
  height:100% !important;
}

.nxHeight10{
  height: 10px;
}
.nxHeight20{
  height: 20px;
}
.nxHeight30{
  height: 30px !important;
}


.vnscontainer{
   text-align: center;
   
}

.vnscontainer a{
  padding-top: 16%;
  background:rgba(0,0,0,0.2) !important;
}
.vnscontainer a:hover{
  text-decoration: none;
  background:rgba(0,0,0,0.2) !important;
}
.vnscontainer a:focus{
  outline: 0;
}
.vnscontainer a.active{
  text-decoration: none;
}




@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      .vnscontainer{
              height: 80px !important;
   
}

    }

    @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

      .flex-container{
           flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            height: fit-content;
        }

    }




.loadingImg{
  background: url('public/images/couple2.gif');
  background-position: center;
  background-size: contain;
}

.vns{
    font-size: 30px;
    color:#fff;  
    font-weight: bold;
}



.nxTitle{
  padding:2px 0;
  color:#e40046;
  font-weight: bolder;
  font-size: 2em;
}

/*colors*/

.bg-pink{
  background: #e40046 !important;
}


.bg-red{
 background:  #00a65a !important;
}

.bg-yellow{
  background-color: #f39c12 !important;
}

.bg-darkyellow{
  background: #f28d11 !important;
}

.bg-purple{
  background:#813772 !important;
}

.bg-white{
  background: #fff !important;
}

.bg-aqua{
  background-color: #00c0ef !important;
}

.bg-lightBlue{
  background: #4A96AD;
}

.bg-blue{
  background:   #3c8dbc !important;
}

.bg-darkblue{
  background: #357ca5 !important;
}

.bg-intelblue{
  background: #0071c5 !important;
}

.bg-maroon{
  background: #00a65a !important;
}

.bg-light{
  background:#f6f6f6 !important;
}

.bg-black{
  background: #141516 !important;
}

.nxBoxShadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;

}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      .flex-container{
       flex-direction: column;
       align-items: center;
    justify-content: space-around;
    height: fit-content;
    }

    }

    @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

      .flex-container{
           flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: fit-content;
        }

    }



.uppderContainer{
   width:100%;
   z-index: 1;
   height: 10%;
   overflow: hidden !important;
}

.middleContainer{
  float: right;
  width: 100%;
  overflow: auto;
  height: 85%;
}


.bottomContainer{
    float: right;
    height: 5%;
    font-size: 12px;
    text-align: center;
    color:#fff;
    width:100%;
    background: black;
}

.mat-toolbar-row{
  height: 68px !important;
}

.nxCard{
    height:200px;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 2s;
    border-radius: 5px;
}
.themeColor{
  color: #813772;
  font-size: 20px;
  padding: 10px;
  border:1px solid #813772; 
}
.cardContent{
    color:#00a65a;
    font-size:16px;
    padding: 10px;
}
md-sidenav-container {
  height: 100%;
}

md-sidenav {
  width: 250px;
  padding: 0;
}

.sidenav-title {
  color: white;
  background-color:#f28d11 !important;
  line-height: 64px;
  text-align: center;
  font-size: 30px;
 }


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  
      .navbar{
           min-height: 25px !important
        }

    }

    @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

      .navbar{
           min-height: 25px !important
        }

    }


.md-sidenav-content{
  overflow: auto !important;
}

.child .fa-envelope,
.child .fa-heart, 
.child .fa-users, 
.child .fa-calendar, 
.child .fa-film, 
.child .fa-id-card{
  color:#fff;
  font-size: 15px;
  transition: 2s;
      padding: 5px 5px;
   
    background-color: #e40046;
} 



ul li a span i.fa-envelope,
ul li a span i.fa-heart,
ul li a span i.fa-users,
ul li a span i.fa-calendar,
ul li a span i.fa-film,
ul li a span i.fa-id-card{
  transform: scale(1.5);
  transition: 5s;
} 


ul li a.active span i.fa-envelope,
ul li a.active span i.fa-heart,
ul li a.active span i.fa-users,
ul li a.active span i.fa-calendar,
ul li a.active span i.fa-film,
ul li a.active span i.fa-id-card{
  color:#fff;
} 

ul{
    margin:0px;
    padding: 0px;
    margin-bottom: 5px !important;
}

ul li{
    margin: 0px;
    /*padding: 10px;*/
    float: left;
    list-style-type: none;
    border-right: 1px solid rgba(0,0,0,0.2);
}
ul li:first-child {
 
 border-left: 1px solid rgba(0,0,0,0.2);;
}

ul li a {
    display: inline-block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 0 16px;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: bold !important;
    transition: transform 1s;
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    letter-spacing: 1px;
    
}



@media only screen 
  and (max-width: 837px) {
  
    .menu-container {
       display: none !important;
    }
}

ul li a:focus { outline: 0; }

a.active{
  text-decoration:none;
  opacity: 1;
  font-weight: bold;
  transform: scale(1);
  background:rgba(0,0,0,0.2) !important;
}

.sidenav-menu{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    position:fixed;
    left:0;
    height: 100%;
    z-index: 10000;
}

.sidenav-menu .child{
    margin:0;
    background-color: #e40046;
    margin:0 auto;
}
.sidenav-menu .child a{ 
    position: relative;
    left: 0;
    color:#ffffff;
    font-size: 17px;
    transition: all 2s;
    text-decoration:  none;
}
.sidenav-menu .child i:hover{ 
    text-decoration: none;
    /*transform: scale(1.2);*/
}

.sidenav-menu .child i.active{
  /*transform: scale(1.2);*/
  /*color:#e40046;*/
  background:rgba(0,0,0,0.2) !important;
}

.sideMenu{
  display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
}

.menu-container{
    display: flex;
    flex-direction: row-reverse;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      min-width: 100%;
      min-height: 100%;
      margin: auto;
     animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
  }
 .carousel-fade .carousel-inner .item {
            transition: opacity 1s;
        }
        
      /*.carousel-fade .carousel-inner .item,
        .active.left,
        .active.right {
            opacity: 0.6;
        }

       .carousel-fade .carousel-inner  .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

       .carousel-fade .carousel-inner  .next,
        .prev,
        .active.left,s
        .active.right {
            left: 0;
            transform: translate3d(10,10, 10);
        }*/
    

    .carousel-fade .carousel-inner .carousel-control {
        z-index: 2;
    }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
     .carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
        height: 30%;
        margin-top: 60%;
      }
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

     .carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
        height: 30%;
        margin-top: 60%;
      }
}
 


.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next
{
  background: #ffffff !important;
    border-radius: 50% !important;
    height: 7% !important;
    width: 20% !important;
    margin: 0 auto !important;
    color:#e40046 !important;
}


grey-border{
  color:1px solid #565656 !important;
}