
/*fixing */

.modal {
  background: rgba(0,0,0,0.8);
}


.modal-backdrop.in {
        opacity: 0.4 !important;
}

.modal-backdrop {
    position: relative !important;
    
}


.modal-dialog {
    width: 100%;
    height: 100% !important;
    overflow-y: auto;
}

@media (min-width: 768px){
.modal-dialog {
    width: 90% !important;
    margin: 1% auto !important;
}
}

.modal-content{
  height: 100%;
}

.modal-body{
  overflow: auto;
  padding:0 !important;
  height: inherit;
}

.carousel{
  height:inherit;
}

.carousel-inner{
  height: inherit;
}






/*other source*/


body, html {
  margin: 0;
  height: 100%;
  width:100%;
  font-family: 'PT Sans', sans-serif !important;
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 10px !important;
  
}

md-toolbar{
min-height: 40px !important;  
}

.uppderContainer{
  height: 12%;
  width:100%;
  
}

.middleContainer{
  float: right;
  height: 80%;
  width: 100%;
  overflow: auto;
}


.bottomContainer{
  float:right;
    height:8%;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 50px;
    opacity: 0.6;
}



.nxCard{
    height:200px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 2s;
    border-radius: 5px;
}

.nxCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title{
        
        color: white;
        font-size: 25px;
        padding:10px;
        color: #DC143C;
        border:1px solid #DC143C;
       
}

.cardContent{
    
    color:#DC143C;
    font-size:16px;
    padding: 10px;
    
}

md-sidenav-layout {
  height: 100%;
}

md-sidenav {
  width: 250px;
  height: 100%;
  padding: 0;
  background-color: lightgray;
}

.sidenav-title {
  color: white;
  background-color: #DC143C;
  line-height: 64px;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid;
  
}

.sidenav-menu {
   text-indent: 10px;
}

.md-sidenav-content{
  overflow: auto !important;
}


.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: 0px;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}



md-toolbar.md-warn{
  background:#DC143C !important;
}

ul{
    margin:0px;
    padding: 0px;
    margin-bottom: 0px !important;
}

ul li{
    margin: 0px;
    /*padding: 10px;*/
    float: left;
    list-style-type: none;
    height: 100%;
}

ul li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 17px;
    height: 100%;
    transition: transform 1s;
    border-radius: 4px;
    font-family: 'PT Sans Narrow', sans-serif !important;
}


@media only screen 
  and (max-width: 837px) {
  
    .menu {
       display: none;
    }
}

ul li a:hover {
    background-color:#ffffff;
    transform: scale(1.2);
    border-radius: 4px;
    color: #DC143C !important;
    text-decoration: none;
    font-weight: bold;
}

.sidenav-menu{
    margin:0;
    padding:0;
     background: #D11250;
     height: 95%;
     overflow: none;
}

.sidenav-menu .child{
    margin:0;
    padding:15px;
    background: #D11250;
    
}


.sidenav-menu .child a{ 
    position: relative;
    left: 0;
    color:#ffffff;
    font-size: 17px;
     padding: 14px 16px;
     transition: left 1s;
     
    
}
.sidenav-menu .child a:hover{ 
    
    text-decoration: none;
    background:#ffffff;
    border-radius: 4px;
    left:1em;
    color: #D11250;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items:center
}

a.active{
  color:#ffffff !important;
  text-decoration:none;
}













.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      min-width: 100%;
      min-height: 100%;
      margin: auto;
  }

 


  .familyMembers{
    background-color:lightgrey;
  }
