:host{
    /*background:url('../public/images/hearts.png');
    background-size:     cover;               
    background-repeat:repeat;
    background-position: center center;  */
    display:block;
    width: 100%;
    height:100%;
    left:0;
}

.couple-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@media ( max-width: 800px ) {
  .couple-container { 
      
      flex-direction: column; align-items: center; 
      height: fit-content !important;
    }

    
}

.couplebackground{
    background:url('../public/images/couplebackground.jpg');
    background-size:contain;               
    background-repeat:no-repeat;
    background-position: center;
    
}




.couple-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
            width:200px;
            height: 200px;
        }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      .couple{
            width:200px;
            height: 250px;
            border-radius: 50%;
        }
        .couple-info{
            width:250px;
            height: 250px;
            border-radius: 50%;
        }
        .theName{
            font-size: 60px !important;
        
        }
        .thesurname{
            font-size: 40px;
            
        }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
      .couple{
            width:200px;
            height: 250px;
            border-radius: 50%;
        }
        .couple-info{
            width:250px;
            height: 250px;
            border-radius: 50%;
        }
        .theName{
            font-size: 60px !important;
         }
        .thesurname{
            font-size: 40px;
            
        }
}

.couple{
    height: 200px;
    border-radius: 50%;
}


.theCoupleTitle{
    font-size: 30px;
    color:#fff;
    
}

.theName{
    font-size: 60px;
    color:#fff;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    letter-spacing: 2px;
    
}
.thesurname{
    font-size: 40px;
    letter-spacing: 2px;
    color:#fff;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    
}

.theDesignation{
    font-weight: bold;
    font-size: 25px;
}
.heart{
    height: initial;
    width: initial;
    opacity: 0.8;
}

.heart i.fa-heartbeat{
   font-size:100px;
   color:#e40046;
   font-weight: bolder;
  
}




.nikhilpic{
    background-image: url("./public/images/16.jpg");
    background-repeat: no-repeat;
    background-position: 44% 12%;
    z-index: 10;
}

.vidyapic{
     background-image: url("./public/images/51.jpg");
    background-repeat: no-repeat;
    background-position: 73% 32%;
    z-index: 10;
}






















.coupleCard {
        transition: 2s;
}

.nxCardInformation{
    padding: 2px 16px;
    width: inherit;
    background:rgba(0,0,0,0.2);
    color:#00a65a
}

.imgcontainer{
  height: 300px;
  width:inherit;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.couplecard a{
    font-size: 20px;
}

img {
    border-radius: 5px 5px 0 0;
}

.coupleImg{
  width: 100%;
    /* overflow: hidden; */
    height: inherit;
}

.coupleImg:hover{
    width: 100%;
    height: inherit;
    border-radius: 0px;
}

