<div class="col-xs-12 nxHeight">
    <div class="col-xs-12 nxHeight ">
        <div class="col-xs-12 nxHeight ">

            <div class="col-xs-12 flex-container">
                <div class="col-sm-2 otherimg  doli" [@nikhilinfoanimation]>

                </div>
                <div class="col-sm-2 otherimg band" [@nikhilinfoanimation]>

                </div>

                <div class="col-sm-2 otherimg  kalash" [@nikhilinfoanimation]>

                </div>
            </div>
            <div class="col-xs-12 couple-container">
                <div class="col-sm-3 couple-info" [@nikhilinfoanimation]>
                    <!--<h3 class="text-center theCoupleTitle">The Groom</h3>-->
                    <p class="text-center theName">
                        <span style="color:#e40046">N</span>
                        <span style="color:#4A96AD">i</span>
                        <span style="color:#e40046">k</span>
                        <span style="color:#4A96AD">h</span>
                        <span style="color:#e40046">i</span>
                        <span style="color:#4A96AD">l</span>

                    </p>
                    <p class="text-center thesurname">
                        <span style="color:#4A96AD">S</span>
                        <span style="color:#e40046">h</span>
                        <span style="color:#4A96AD">a</span>
                        <span style="color:#e40046">h</span>
                    </p>
                </div>
                <md-card class="col-xs-6 col-sm-2 couple nikhilpic nxBoxShadow" [@nikhilpicanimation]="heartState">
                </md-card>
                <div class="col-sm-1 heart">
                    <i class="fa fa-heartbeat" aria-hidden="true" [@heartanimation]="heartState"></i>
                </div>
                <md-card class="col-xs-6 col-sm-2 couple vidyapic nxBoxShadow" [@vidyapicanimation]="heartState">
                </md-card>
                <div class="col-sm-3 couple-info" [@vidyainfoanimation]>
                    <!--<h3 class="text-center theCoupleTitle">The Bride</h3>-->
                    <P class="text-center theName">
                        <span style="color:#4A96AD">V</span>
                        <span style="color:#e40046">i</span>
                        <span style="color:#4A96AD">d</span>
                        <span style="color:#e40046">y</span>
                        <span style="color:#4A96AD">a</span>
                    </P><br>
                    <p class="text-center thesurname">
                        <span style="color:#e40046">P</span>
                        <span style="color:#4A96AD">i</span>
                        <span style="color:#e40046">l</span>
                        <span style="color:#4A96AD">l</span>
                        <span style="color:#e40046">a</span>
                        <span style="color:#4A96AD">i</span>

                    </p>
                </div>
            </div>



            <div class="col-xs-12 flex-container">
                <div class="col-sm-2 otherimg tabla" [@nikhilinfoanimation]>

                </div>
                <div class="col-sm-2 otherimg hastmelap" [@nikhilinfoanimation]>

                </div>
                <div class="col-sm-2 otherimg knot" [@nikhilinfoanimation]>

                </div>
            </div>
            <!--<div class="col-xs-12">
       <div class="col-sm-2 cardcontainer" *ngFor="let pic of pics;let i=index" (click)="modal.show(i)">
            <md-card>
                <img md-card-image [src]="pic.path" class="galleryImg">
                <md-card-content>
                    <p>Nikhil Shah</p>
                </md-card-content>
            </md-card>
            <div class="clear"></div>
            
        </div>
        <nxModal [data]="pics"></nxModal>
</div>--></div>
    </div>
</div>