 <div>
                  <div class="col-sm-4 text-center">
                              <img  [src]="nikhilimgpath" class="roundedBorder rotateImg nxImg"/>
                  </div>
                  
                      <div class="col-xs-12 col-sm-4">
                          <div class="nxCard nxWedding">    
                              <div class="text-center title">Nikhil Weds Vidya</div>   
                              <div class="cardContent">
                                      <div>This precious occacion comes once.</div>
                                      <div>To give your blessing to newly married couple, please attend our marriage</div>
                                      <div>Data : 29 - April - 2017</div>
                              </div>
                              <div class="text-center">
                                <button md-raised-button color="accent" (click)="redirectToEvents()">More Information</button>
                              </div>
                          </div>
                      </div>
                 
                  <div class="col-sm-4 text-center">
                    <img  [src]="vidyaimgpath" class="roundedBorder rotateImg nxImg" />
                  </div> 
              </div>