

:host{
  
    /*background:url('../public/images/hearts.png');
    background-size:     cover;               
    background-repeat:repeat;
    background-position: center center;  */
    display:block;
    width: 100%;
    left:0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 2s;
    border-radius: 5px;
}

.imgcontainer{
  height: 300px;
  width:inherit;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
    width: inherit;
}

.coupleImg{
  width: 70%;
    /* overflow: hidden; */
    height: inherit;
    border-radius: 50%;
}
