md-sidenav-layout {
  height: 100%;
}

md-sidenav-layout >>> .md-sidenav-content {
  overflow: hidden;
}

md-sidenav {
  width: 250px;
  height: 100%;
  padding: 0;
  background-color: lightgray;
}

.sidenav-title {
  color: white;
  background-color: #D11250;
  line-height: 64px;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid;
  
}

.sidenav-menu {
   text-indent: 10px;
}

.app-content {
  padding: 20px;
  height: calc(100% - 64px);
  overflow: auto;
 }

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

md-toolbar.md-warn{
  background:#D11250 !important;
}

ul{
    margin:0px;
    padding: 0px;
}

ul li{
    margin: 0px;
    padding: 10px;
    float: left;
    list-style-type: none;
    height: 100%;
}

ul li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    transition: transform 1s;
    border-radius: 4px;
}


@media only screen 
  and (max-width: 768px) {
  
    .menu {
       display: none;
    }
}

ul li a:hover {
    background-color:#222222;
    transform: scale(1.2);
    border-radius: 4px;
    color: #D11250;
}

.sidenav-menu{
    margin:0;
    padding:0;
     background: #D11250;
     height: 95%;
     overflow: none;
}

.sidenav-menu .child{
    margin:0;
    padding:15px;
    background: #D11250;
    
}


.sidenav-menu .child a{ 
    position: relative;
    left: 0;
    color:#ffffff;
    font-size: 17px;
     padding: 14px 16px;
     transition: left 1s;
     
    
}
.sidenav-menu .child a:hover{ 
    
    text-decoration: none;
    background:#222222;
    border-radius: 4px;
    left:1em;
    color: #D11250;
}


