<md-sidenav-layout>
  <div class="sidenav-menu">
    <div class="sideMenu" [@openClose]="open ? 'open' : 'closed'" (click)="toggle()">
      <div>
        <div class="child">
          <a routerLink="home" (click)="toggle()">
            <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;
            <span *ngIf="open">Invitation Card</span></a>
        </div>
        <div class="child">
          <a routerLink="engagement" (click)="toggle()">
            <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;
            <span *ngIf="open">Engagement</span></a>
        </div>
        <div class="child">
          <a routerLink="couple" (click)="toggle()">
            <i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;
            <span *ngIf="open">The Couple</span>
          </a>
        </div>
        <div class="child">
          <a routerLink="parents" (click)="toggle()">
            <i class="fa fa-users" aria-hidden="true">
            </i>&nbsp;&nbsp;<span *ngIf="open">families</span>
          </a>
        </div>
        <div class="child">
          <a routerLink="events" (click)="toggle()">
            <i class="fa fa-calendar" aria-hidden="true">
            </i>&nbsp;&nbsp;<span *ngIf="open">Events</span>
          </a>
        </div>
        <div class="child">
          <a routerLink="gallery" (click)="toggle()">
            <i class="fa fa-film" aria-hidden="true">
            </i>&nbsp;&nbsp;<span *ngIf="open">Gallery</span>
          </a>
        </div>
        <div class="child">
          <a routerLink="contact" (click)="toggle()">
            <i class="fa fa-id-card" aria-hidden="true">
            </i>&nbsp;&nbsp;<span *ngIf="open">Contact</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="uppderContainer">
    <md-toolbar class="toolbar bg-pink">

      <div class="menu col-xs-12">
        <ul class="topnav" id="myTopnav">
          <li>
            <a routerLink="home" routerLinkActive="active">
              <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<span>Invitation</span></a>
          </li>
          <li>
            <a routerLink="engagement" routerLinkActive="active">
              <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<span>Engagement</span></a>
          </li>
          <li>
            <a routerLink="couple" routerLinkActive="active">
              <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;<span>The Couple</span></a>
          </li>
          <li>
            <a routerLink="parents" routerLinkActive="active">
              <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;<span>Families</span></a>
          </li>
          <li>
            <a routerLink="events" routerLinkActive="active">
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;<span>Events</span></a>
          </li>
          <li>
            <a routerLink="gallery" routerLinkActive="active">
              <i class="fa fa-film" aria-hidden="true"></i>&nbsp;&nbsp;<span>Gallery</span></a>
          </li>
          <li>
            <a routerLink="contact" routerLinkActive="active">
              <i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;<span>Contact</span></a>
          </li>
        </ul>
      </div>
    </md-toolbar>
  </div>




  <div class="app-content middleContainer">
    <router-outlet></router-outlet>
  </div>


  <!--<div class="bottomContainer bg-yellow">
    Designed, developed & maintained by Nikhil Shah & Vidya Pillai<small>(with Angular2)</small>
  </div>-->
</md-sidenav-layout>