<div class="col-xs-12 nxHeight">
        <div class="col-xs-12 nxHeight">
                <div class="nxHeight">
                        <!--<template ngFor let-pic [ngForOf]="pics" let-i="index">
                                <div class="col-sm-2 galleryCard" (click)="modal.show(i)">
                                        <img md-card-image  class="galleryImg">
                                </div>
                                <div class="clear"></div>
                                <!---->
                        <!--</template>-->
                        <template ngFor let-pic [ngForOf]="pics" let-i="index">
                                <md-card class="col-md-2 galleryCard" (click)="modal.show(i)">
                                        <img md-card-image [src]="pic.path" class="galleryImg">
                                </md-card>

                        </template>
                        <nxModal [data]="pics"></nxModal>
                </div>
        </div>

</div>