 :host{
    /*background:url('../public/images/hearts.png');
    background-size:     cover;               
    background-repeat:repeat;
    background-position: center center;  */
    display:block;
    width: 100%;
    left:0;
  }

  .cardcontainer{
    padding:10px !important;
    transition: all .5s;
    overflow: hidden;
  }

  .galleryImg{
    height:150px;
    width:100%;
    transform-origin: 50% 50%;
    transition: transform 30s linear;
  }

   .galleryImg:hover{
    
    transform: scale(2) rotate(0.1deg);
  }



  